extends layout

block content
  //task入力フォームを作成する
  .search
    form#search
      p
        input#query(type='text',name='query',size="40",maxlength="20")
        input(type='submit',value='検索する')
        
  // ToDo一覧を表示する
  .list

// jQueryとtodoInput.jsを読み込む
block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='/javascripts/search.js')