body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.commonheader{
  background-color : #C0EEFF ;
}

.todoList{
  border: 5px outset #000000;
  border-radius:10px; 
  padding: 10px;
  margin-bottom:20px;
}

#headerBox{
}

#commonheader{
  text-align:center;
  height:170px;
  width:60%;
  float: left; 
}

#serchicon{
  text-align:right;
  height:40px;
  padding-top:130px;
  width:40%;
  float: right; 
}

#nullhead{
  clear:both;
   border-bottom: 3px solid #000000;
}